.projects {
  padding: 150px 170px;
  text-align: center;
}

.projects h1 {
  font-size: 40px;
  width: fit-content;
  background: linear-gradient(270deg, #da7c25 5%, #b923e1 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projects-container {
  margin-top: 30px;
}
.projects h2 {
  font-size: 24px;
  color: #fff;
  margin: 20px 0px;
}

.projects a {
  text-decoration: none;
  box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.projects a:hover h2 {
  color: #da7c25;
}

.projects .project-ind {
  width: 350px;
}

.services-format {
  margin-bottom: 40px;
}
.projects .projects-container {
  gap: 20px;
}

.projects img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.projects .col-md-4 {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .projects {
    padding: 100px 20px;
  }
}
