.footer-icons {
  gap: 35px;
}

.footer-icons i {
  color: #d5d5d5;
  transition: 0.5s;
  font-size: 22px;
}

.footer-icons a:hover i {
  color: #da7c24;
  transform: scale(1.1);
}

.footer-top-left p {
  color: #d5d5d5;
}

.footer {
  padding: 0px 170px;
  border-top: 1px solid #d5d5d5;
}

@media (max-width: 768px) {
  .footer {
    padding: 0px 20px;
  }

  .footer .row {
    text-align: center;
  }

  .footer-icons {
    text-align: center;
    align-items: center;
    justify-content: center !important;
  }

  .footer-top-right {
    margin-bottom: 0px;
  }

  .footer p {
    margin-bottom: 0px;
  }
}
